.nav_container {
  width: 50%;
  margin: 10px auto;
}
form {
  margin: 10px auto;
}
input {
  padding: 3px 10px;
  border-radius: 3px;
}
.submit {
  background-color: rgb(0, 0, 110);
  color: #fff;
  border: none;
  border-radius: 3px;
}
.navlink {
  color: blue;
  text-decoration: none;
}
.navlink:hover {
  color: red;
}
.back {
  color: blue;
  text-decoration: none;
}
.back:hover {
  color: red;
}
.navlogo h1 img {
  width: 10px;
}
