* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #121212;
  height: 60px;
  font-family: monospace;
  color: #fff;

  position: fixed;
  top: 0;

  z-index: 999;
}
.navlogo h1 img {
  width: 20px;
}

.navlogo h1 {
  margin-top: 20px;
  margin-left: 10px;
  background-color: #f77062;
  background-image: linear-gradient(to top #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  width: 100px;
  font-size: 140%;

  display: flex;

  margin-left: 20px;
}
.navbar_page {
  margin: 10px 2rem;
  margin-right: 20px;
  width: 60%;
}
.navbar_li {
  display: flex;
  list-style: none;
  padding-top: 15px;
  justify-content: flex-end;
}
.navbar_li a {
  padding-right: 10px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}
.navbar_li a:hover {
  color: #ff2b56;
}
.button {
  display: flex;
  width: 13%;
  padding: 5px auto;

  font-size: 0.5rem;
  border: 0;
  padding-left: 0px;
  border-radius: 5px;
  margin-top: 0px;
  margin-right: 0px;
}

.button:hover {
  transition: all 0.3s ease;
  font: italic;
}
/* section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 100vh;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  padding: 0px 20px;
}

.section_content h1 {
  font-size: 3rem;
  
}
.section_content h2 {
  font-size: 2.2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.section_content p {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.section_content {
  border: 2px solid gainsboro;
  font-family: monospace;
  width: 100%;
  padding: 10px 0px;
  margin: 10px auto;
  margin-bottom: 200px;
}
.section_content button {
  background-color: #ff0844;
  color: white;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
  padding: 5px 10px;
}
.section_image img {
  width: 200px;
}
.section_image {
  border: 2px solid grey;
  padding-left: -50px;
} */
section {
  width: 100%;
  background-color: #141414;
  display: flex;
}
.section_content {
  width: 90%;
  text-align: left;
  height: 30vh;
  padding: 10px 20px;
  padding-top: 90px;
}
.section_image {
  width: 100%;
  margin-top: 20px;
  padding: 5px auto;
  padding-right: 10px;
  padding-bottom: 70px;
}
.section_image img {
  width: 80%;

  margin: 5px auto;
}
.section_content h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2.5rem;
  font-family: monospace;
}
.section_content h2 {
  background-color: blue;
  background-image: linear-gradient(to top, #1d1d85 0%, #0606ff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2rem;
  font-family: monospace;
}
.section_content p {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}
.section_content button {
  background: #ff0844;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  color: white;
  margin-top: 20px;
}
button:hover {
  background-color: #1616a3;
  transition: all 0.3s ease;
}
.nav_service_content {
  text-align: center;
}
.nav_service {
  background: #141414;
  height: 80vh;
}
.nav_service_content h2 {
  background-color: #ff0844;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding-top: 10px;
  font-size: 30px;
}
.service {
  background-image: url("pexel02.jpg");
  margin: 1rem;
  height: 400px;
  width: 270px;
  border-radius: 4px;
  background-size: cover;
  position: relative;
  top: 0%;
}
.service:hover {
  color: #141414;
}
.nav_service_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service1 {
  background-image: url("pexels1.jpg");
  margin: 1rem;
  height: 400px;
  width: 270px;
  border-radius: 4px;
  background-size: cover;
  /* position: relative;
  bottom: 0%; */
}
.service1:hover {
  color: #0606ff;
}
.service_text {
  margin-top: 220px;

  text-align: left;
  padding-left: 15px;
  padding-top: 65px;
  color: #fff;
}
.service_text button {
  background-color: #ff2b56;
  color: white;
  border: 0;
  margin-top: 10px;
  padding: 3px 10px;
  border-radius: 3px;
}
.service_texts {
  margin-top: 220px;

  text-align: left;
  padding-left: 15px;
  padding-top: 65px;
  color: #fff;
}

.service_texts button {
  background-color: #ff2b56;
  color: white;
  border: 0;
  margin-top: 10px;
  padding: 3px 10px;
  border-radius: 3px;
}
.info {
  background-color: #141414;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: -20px;
  justify-content: space-evenly;
  font-family: monospace;

  padding-top: 90px;
}

.information li {
  list-style: none;

  margin-left: 24px;
}
.information ul {
  width: 100%;
  margin-right: 10px;
  font-size: 13px;
}
.information h4 {
  color: #fff;
  margin-left: 24px;
  font-size: 15px;
}
.information a {
  color: #fff;
  text-decoration: none;
}
.information a:hover {
  color: #ff2b56;
}
footer {
  background-color: #141414;

  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  color: #fff;
  width: 100%;
  font-family: monospace;
}
.footer_text {
  padding-top: 5px;
}

footer .text_logo h1 {
  font-size: 18px;
  display: flex;
  font-family: monospace;
}
footer .text_logo h1 img {
  width: 22px;
}
.icons {
  display: flex;
  justify-content: space-between;

  padding-left: 2rem;
}
.icons img {
  width: 25px;
  margin-right: 30px;
}
@media screen and (max-width: 960px) {
  section {
    display: grid;
    width: 100%;
  }
  .section_content {
    padding-bottom: 150px;
    width: 100%;
  }
  .section_content h1 {
    font-size: 2.2rem;
  }
  .section_content h2 {
    font-size: 2rem;
  }
  .nav_service_content h2 {
    font-size: 20px;
    font-family: monospace;
  }
  .service1 {
    height: 350px;
    width: 300px;
  }
  .service_texts {
    margin-top: 160px;

    margin-right: 20px;
    font-family: monospace;
    padding-right: 4px;
  }
  .service_texts p {
    font-size: 10px;
  }
  .service {
    height: 350px;
  }
  .service_text {
    margin-top: 160px;

    margin-right: 20px;
    font-family: monospace;
    padding-right: 4px;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-right: 40px;

    padding: 2px auto;
    padding-left: 20px;
  }
  .information ul {
    font-size: 11px;
    width: 100%;
  }
  .information h4 {
    font-size: 12px;
  }
  .information {
    margin: 10px 2px;
  }
  footer {
    text-align: center;
    width: 100%;
    justify-content: ;
    padding-bottom: 30px;
  }
  .text_logo {
    margin-left: 10px;
    width: 20%;
  }
  .text_logo h1 {
    font-size: 13px;
  }
  .footer_text {
    font-size: 13px;
    margin-left: -20px;
    width: 100%;
    font-family: sans-serif;
  }
  .icons {
    width: 30%;
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr;
    justify-content: left;
    margin-top: 5px;
    margin-right: 5px;
  }
  .icons img {
    width: 15px;
    margin-right: 13px;
  }
  .navbar_link {
    padding-right: 60px;
    margin-bottom: 25px;
  }
  .navbar_li a {
    margin-bottom: 40px;
    font-size: 13px;
  }
}
